{% extends '::base.html.twig' %}

{% block body %}
    <h2>Requests</h2>
    <table class="records_list">
        <thead>
        <tr>
            <th>Requested at</th>
            <th>Approved at</th>
            <th>Executed at</th>

            <th>Amount</th>
            <th>Description</th>
            <th>User</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for expenseRequest in expenseRequests %}
            <tr class="{{ expenseRequest.status }}">
                <td>{% if expenseRequest.datepending %}{{ expenseRequest.datepending|date('d-m-Y') }}{% endif %}</td>
                <td>{% if expenseRequest.dateapproved %}{{ expenseRequest.dateapproved|date('d-m-Y') }}{% else %}x{% endif %}</td>
                <td>{% if expenseRequest.dateexecuted %}{{ expenseRequest.dateexecuted|date('d-m-Y') }}{% else %}x{% endif %}</td>

                <td>{{ expenseRequest.amount }}</td>
                <td>{{ expenseRequest.description }}</td>
                <td>{{ expenseRequest.user.firstname }}</td>
                <td><a href="{{ path('expenserequest_show', { 'id': expenseRequest.id }) }}">meer info</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
