{% extends '::base.html.twig' %}

{% block body -%}
    <h2>ExpenseRequest for <b>{{ entity.user.firstname }}</b></h2>

    <table class="table expense-show">
        <tbody>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ entity.amount|money }}</td>
            </tr>

            <tr>
                <th>Requested at</th>
                <td>{{ entity.datepending|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Approved at</th>
                <td>{% if entity.dateapproved %}{{ entity.dateapproved|date('d-m-Y') }}{% else %}x{% endif %}</td>
            </tr>
            <tr>
                <th>Executed at</th>
                <td>{% if entity.dateexecuted %}{{ entity.dateexecuted|date('d-m-Y') }}{% else %}x{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
