<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
        <title>{% block title %}ob app{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        {% block stylesheets %}
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
            {% stylesheets  '@TacticsOpleidingsbudgetBundle/Resources/public/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
    </head>
    <body>
    <header>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav">
                        {% block menu %}
                            {% if is_granted("ROLE_APPROVER") or is_granted("ROLE_EXECUTOR") %}
                                <li><a href="{{ path('home') }}">home</a></li>
                                <li><a href="{{ path('transaction_all') }}">
                                    transactions
                                </a></li>
                                <li><a href="{{ path('expenserequest_all') }}">
                                    requests
                                </a></li>
                            {% elseif is_granted("ROLE_USER") %}
                            <li><a href="{{ path('transaction') }}">transactions</a></li>
                            <li><a href="{{ path('expenserequest') }}">requests</a></li>
                        {% endif %}
                            <li class="dropdown pull-right">
                            <a href="javascript:void(0)" id="drop" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down hidden-xs"></i>Oi {{ app.user.firstname }}<i class="fa fa-caret-down hidden-lg hidden-md hidden-sm"></i></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="drop">
                                    <li role="presentation"><a role="menuitem" href="{{ path('tactics_edit_user', { 'username': app.user.username }) }}"><i class="fa fa-pencil"></i>edit profile</a></li>
                                    <li role="presentation"><a role="menuitem" href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i>{{ 'logout'|trans({}, 'FOSUserBundle') }}</a></li>
                                </ul>
                            </li>
                        {% endblock %}
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        {% endif %}

    </header>
        <div id="main">

            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
            {% javascripts
            '@TacticsOpleidingsbudgetBundle/Resources/public/js/bootstrap/*'
            '@TacticsOpleidingsbudgetBundle/Resources/public/js/notification/*'
            '@TacticsOpleidingsbudgetBundle/Resources/public/js/plugin/*'
            '@TacticsOpleidingsbudgetBundle/Resources/public/js/smartwidgets/*'
            '@TacticsOpleidingsbudgetBundle/Resources/public/js/app.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script type="text/javascript">
                $(document).ready(function() {
                    pageSetUp();

                    //make active menu buttons
                    var url = window.location;
                    $('ul.nav a').filter(function() {
                        return this.href == url;
                    }).parent().addClass('active');
                })
            </script>
        {% endblock %}
    </body>
</html>
