<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ob app{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <h1>Opleidingsbudget App</h1>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <h4>Oi {{ app.user.firstname }},</h4>
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'logout'|trans({}, 'FOSUserBundle') }}
            </a><br/>
            <a href="{{ path('tactics_edit_user', { 'username': app.user.username }) }}">edit profile</a>
            <br /><br />
            {% block menu %}
                {% if is_granted("ROLE_APPROVER") %}
                    <a href="{{ path('home') }}">home</a>
                    <a href="{{ path('transaction_all') }}">
                        Transactions
                    </a>
                    <a href="{{ path('expenserequest_all') }}">
                        Requests
                    </a>
                {% elseif is_granted("ROLE_USER") %}
                <a href="{{ path('transaction') }}">
                    Transactions
                </a>
                <a href="{{ path('expenserequest') }}">
                    Requests
                </a>
                {% endif %}
            {% endblock %}
            <br /><br />
        {% endif %}


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
