{% extends '::base.html.twig' %}

{% block body %}
    <h2>All Transactions</h2>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th style="width: 20px">Info</th>
                </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr class="{{ transaction.type }}">
                    <td>{{ transaction.user.firstname }}</td>
                    <td>{% if transaction.date %}{{ transaction.date|date('d-m-Y') }}{% endif %}</td>
                    <td>{{ transaction.amount|money }}</td>
                    {% if transaction.type == 'expense' %}
                        <td><a href="{{ path('expenserequest_show', {'id': transaction.expenserequest.id}) }}"><i class="fa fa-info-circle"></i></a></td>
                    {% else %}
                        <td>x</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
