{% extends '::base.html.twig' %}

{% block body %}
    <h2>Transactions | current budget: {{ budget }} </h2>

    <a href="{{ path('expenserequest_new') }}">
        Make Request
    </a>
    <br /><br />
    <table class="records_list">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Bedrag</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr class="{{ transaction.type }}">
                <td>{% if transaction.date %}{{ transaction.date|date('d-m-Y') }}{% endif %}</td>
                <td>{{ transaction.amount }}</td>
                {% if transaction.type == 'expense' %}
                <td><a href="{{ path('expenserequest_show', {'id': transaction.expenserequestid}) }}">info</a></td>
                {% else %}
                <td>geen extra info</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endblock %}
