{% extends '::base.html.twig' %}

{% block body %}
    <h2>All Transactions <span class="smallh2">(budget: {{ budget|money }})</span></h2>

    <a href="{{ path('expenserequest_new') }}">Make a new request</a>
    <br /><br />
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Bedrag</th>
                    <th style="width: 20px">Info</th>
                </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr class="{{ transaction.type }}">
                    <td>{{ transaction.date|date('d-m-Y') }}</td>
                    <td>{{ transaction.amount|money }}</td>
                    {% if transaction.type == 'expense' %}
                    <td><a href="{{ path('expenserequest_show', {'id': transaction.expenserequest.id}) }}"><i class="fa fa-info-circle"></i></a></td>
                    {% else %}
                    <td>x</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
