{% extends '::base.html.twig' %}

{% block body -%}
    <h2>Transaction list for: {{ user.firstname }}</h2>

    <a href="{{ path('expenserequest_new') }}">
        Nieuwe aanvraag
    </a>
    <br /><br />
    <table class="records_list">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Bedrag</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr class="{{ entity.type }}">
                <td>{% if entity.date %}{{ entity.date|date('d-m-Y') }}{% endif %}</td>
                <td>{{ entity.amount }}</td>
                {% if entity.type == 'expense' %}
                <!--<td><a href="{{ path('transaction_show', { 'id': entity.id }) }}">info</a></td>-->
                <td><a href="{{ path('expenserequest_show', {'id': entity.expenserequestid}) }}">info</a></td>
                {% else %}
                <td>geen extra info</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endblock %}
