{% extends '::base.html.twig' %}

{% block body %}
    {% if expenserequests is not empty %}

    <h2>Requests</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 20px"></th>
                    <th style="width: 20px"></th>
                    <th>Requested at</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
    {% for expenserequest in expenserequests %}
        <tr>
            <td><a href="{{ path('expenserequest_update_pending', { 'id': expenserequest.id, 'status': expenserequest.status, 'userid':expenserequest.user.id }) }}"><i class="fa fa-check"></i></a></td>
            <td><a onclick="return confirm('are u sure u want to delete?')" href="{{ path('expenserequest_delete', { 'id': expenserequest.id }) }}"><i class="fa fa-ban"></i></a></td>
            <td>{% if expenserequest.datepending %}{{ expenserequest.datepending|date('d-m-Y') }}{% endif %}</td>
            <td>{{ expenserequest.amount|money }}</td>
            <td>{{ expenserequest.description }}</td>
            <!-- username -->
            <td>{{ expenserequest.user.firstname }}</td>
            <!-- url to set date and status approved
                 or to delete the request! -->
        </tr>
    {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    <h2>All users</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 40px"></th>
                    <th style="width: 40px"></th>
                    <th>Naam</th>
                    <th>Budget</th>
                    <th>Transactions</th>
                    <th>Requests</th>
                </tr>
            </thead>
            <tbody>
            {% for data in usersdata %}
                <tr>
                    <td><a href="{{ path('transaction_new', { 'userid': data.user.id, 'type': 'budget' }) }}"><i class="fa fa-plus"></i></a></td>
                    <td><a href="{{ path('transaction_new', { 'userid': data.user.id, 'type': 'endofyear' }) }}"><i class="fa fa-minus"></i></a></td>
                    <td>{{ data.user.name }}</td>
                    <td> {{ data.transactions.balans|money }}</td>
                    <td>{{ data.transactions.count }}</td>
                    <td>{{ data.requests.count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}