{% extends '::base.html.twig' %}

{% block body %}
    <h2>Requests</h2>
        <div class="table-responsive">
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Requested at</th>
                    <th>Approved at</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th style="width: 20px"></th>
                </tr>
            </thead>
            <tbody>
            {% for expenserequest in expenserequests %}
            <tr>
                <td>{{ expenserequest.user.firstname }}</td>
                <td>{% if expenserequest.datepending %}{{ expenserequest.datepending|date('d-m-Y') }}{% endif %}</td>
                <td>{% if expenserequest.dateapproved %}{{ expenserequest.dateapproved|date('d-m-Y') }}{% endif %}</td>
                <td>{{ expenserequest.amount|money }}</td>
                <td>{{ expenserequest.description }}</td>
                <td><a href="{{ path('expenserequest_update_pending', { 'id': expenserequest.id, 'status': expenserequest.status, 'userid': expenserequest.user.id }) }}"><i class="fa fa-check"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}